template(name="portfolio")
  .portfolio.container-fluid
    .row
      each shots
        .col.col-md-3.col-sm-6
          .shot
            .label
              article.shot-description
                li #{title}
                li.likes #{likes_count}
                  span.fa.fa-heart
            .shoterlay
              article.shot-description
                .likes
                  ul
                    li.fa.fa-heart 
                      span.result-count #{likes_count}
                    li.fa.fa-eye 
                      span.result-count #{views_count}

                h1 #{title}
                | {{{description}}}
            img(src="#{images.normal}")
