template(name="portfolio")  
    .row-fluid
      .portfolio
        if portfolioHasLoaded
          each shots
            section(class="lightbox modal modal-dark fade" id="#{id}")
              .modal-dialog
                .modal-content
                  .modal-header
                    .row
                      .col-md-12
                        button.pull-right.close-button(type="button", data-dismiss="modal") Close              
                  .modal-body
                    .row
                      .col-md-12.col-xs-12
                          a(href="#", data-dismiss="modal") 
                            img.largeImage(src="#{images.hidpi}")

            .col.col-md-4.col-sm-6
              .shot
                .label
                  article.shot-description
                    li #{title}
                    li.likes #{likes_count}
                      span.fa.fa-heart
                a.shoterlay(href="#", data-toggle="modal", data-target="##{id}")
                  article.shot-description
                    .likes
                      ul
                        li.fa.fa-heart 
                          span.result-count #{likes_count}
                        li.fa.fa-eye 
                          span.result-count #{views_count}

                    h1 #{title}
                    | {{{description}}} 
                img(src="#{images.normal}")

        else
          +spinner
